<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="bullion management site, rare coins, gold, silver, platinum">
    <meta name="author" content="CSE134B CacheIt">

    <meta name=viewport content="width=device-width, initial-scale=.8, minimum-scale = .8, user-scalable=yes">
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />

    <link rel="stylesheet" type="text/css" href="../style/style.css">

    <script src="../js/main.js"></script>

    <title>Login - CoinBucket</title>
</head>

<body>

<nav>
    CoinBucket
</nav>
<div class="mobile-nav">
    CoinBucket
</div>
<div id="w1-wrapper">

    <section id="w1-left">
        <h1>CoinBucket</h1>
        <h3>Manage your coin collection with a simple app.</h3>
        <a href="signup.html" style="color:black;"><span id="sign-up-button">Sign up</span></a>
        <a href="login.html" style="color:white;"><span id="log-in-button">Log in</span></a>
    </section>

    <section id="w1-right">
        <div id="iphone">
            <div id="iphone-camera"></div>
            <div id="iphone-speaker"></div>
            <div id="iphone-screen"></div>
            <div id="iphone-home"></div>
        </div>
    </section>

</div>

<script>loadFooter();</script>
<!-- Add this just before your closing </body> tag -->
<!-- Replace 'APP_ID' with your app ID -->
<script>
  window.intercomSettings = { app_id: 's4x71x8w' };
</script>
<!-- Replace 'APP_ID' with your app ID -->
<script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/s4x71x8w';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>
</body>

</html>
