<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="bullion management site, rare coins, gold, silver, platinum">
    <meta name="author" content="CSE134B CacheIt">
    <title>Log In To CoinBucket</title>

    <meta name=viewport content="width=device-width, initial-scale=.8, minimum-scale = .8, user-scalable=yes">
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />

    <link rel="stylesheet" type="text/css" href="../style/style.css">
    <link rel="stylesheet" type="text/css" href="../bower_components/pure/pure-min.css">

    <script src="../js/main.js"></script>
</head>

<body>
    <nav>
        CoinBucket
    </nav>
    <div class="mobile-nav">
        <a href="index.html" style="color:white">CoinBucket</a>
    </div>

    <div id="w0-wrapper">
        <form class="pure-form pure-form-stacked reg">
            <fieldset>
                <legend>Reset Password</legend>
                <label for="email">Enter your email</label>
                <input class="reg" id="password" name="password1" type="password" placeholder="Enter new password" style="background-color: white; color:black" required/>
                <input class="reg" id="password2" name="password2" type="email" placeholder="Reenter new password" style="background-color: white; color:black" required/>

                <button id="submitButton" type="button" class="pure-button pure-button-primary" disabled>Reset</button>

                <div id="alert-email">
                    Password has been changed.
                </div>
            </fieldset>
        </form>
    </div>

    <script>
    // Wait till the DOM completely loads before allowing the script to run.
    window.onload = function() {
        var button = document.getElementById("submitButton");
        var email1 = document.getElementById("password1");
        var email2 = document.getElementById("password2");
        email1.onkeyup = function(){
            console.log(this.value)
            if(this.value == email2.value){
                button.disabled=false;
            } else {
                button.disabled=true;
            }
        }
        email2.onkeyup = function(){
            console.log(this.value)
            if(this.value == email1.value){
                button.disabled=false;
            } else {
                button.disabled=true;
            }
        }



        button.addEventListener("click", function() {
            // APP and API Key for Parse
            var appId = "iFY8hb8r6Ue1Qh98NBCP1tWshhexxQS1tOsRTk0W";
            var apiKey = "xPKaGBUFnH5vhMN8W77wuuGFoeesi4zbl0H2bLL1";

            // Get the username and password from the DOM
            var email = document.getElementById('email').value;
            // var password = document.getElementById('password').value;

            // URL Encode the string so it gets sent properlly
            // var encodedString = encodeURI('username=' + username + '&password=' + password);
            // console.log(encodedString);

            // Create a request
            var req = new XMLHttpRequest();

            // Request Handler
            req.onreadystatechange = function (oEvent) {
                if (req.readyState === 4) {
                    if (req.status === 200) {                 // CASE SUCESS
                        // Parse the string into a JSON obj
                        var tmpObj = JSON.parse(req.responseText);
                        startTimer();

                    } else {                      // CASE ERROR
                        var errorMessage = "Invalid information.<br>Please try again.";

                        console.log("Error: ", req.statusText);
                        document.getElementById('alert-box').style.color = "RED";
                        document.getElementById('alert-box').innerHTML = errorMessage;
                    }
                }
            };

            // Open the request with the Url Encoded String for login
            req.open("POST", "https://api.parse.com/1/requestPasswordReset", true);

            // Set Request Header for Parse
            req.setRequestHeader("X-Parse-Application-Id", appId);
            req.setRequestHeader("X-Parse-REST-API-Key", apiKey);
            req.send(JSON.stringify({email:email}));  // Finally send the request
        });
        var counter = 0;
        var max = 5;
        var startTimer = function(){
            document.getElementById('timer').innerHTML=max-counter;
            counter++;
            if(counter>max){
                window.location.href = "login.html";
            } else {
                setTimeout(startTimer, 1000);
            }
        }

    }
    </script>
    <script>loadFooter();</script>
    <!-- Add this just before your closing </body> tag -->
    <!-- Replace 'APP_ID' with your app ID -->
    <script>
      window.intercomSettings = { app_id: 's4x71x8w' };
    </script>
    <!-- Replace 'APP_ID' with your app ID -->
    <script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/s4x71x8w';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>

</body>

</html>
