<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="bullion management site, rare coins, gold, silver, platinum">
    <meta name="author" content="CSE134B Dream Team">

    <meta name=viewport content="width=device-width, initial-scale=.8, minimum-scale = .8, user-scalable=yes">
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />

    <link rel="stylesheet" type="text/css" href="../style/style.css">
    <link rel="stylesheet" type="text/css" href="../bower_components/font-awesome/css/font-awesome.min.css">

    <script src="../bower_components/underscore/underscore-min.js"></script>

    <script src="../js/main.js"></script>
    <script src="../js/cacheit.js"></script>
    <script src="../js/wire5.js"></script>

    <title>New Item - CoinBucket</title>
</head>

<body>
<script>
loadTopNav();
</script>
<script>
var tmpNum = 1;
var currentMetal = '';
switch(window.location.hash){
    case '#gold':
    currentMetal = 'gold';
    tmpNum = 1;
    break;
    case '#silver':
    currentMetal = 'silver';
    tmpNum = 2;
    break;
    case '#platinum':
    currentMetal = 'platinum';
    tmpNum = 3;
    break;
}
loadSideNav(tmpNum);
</script>
<section class="main-section">
    <section class="coin_wrapper">
        <div class="mobile-nav">
            <a class='back-button' href="wire3.html">
                <svg class="icon icon-keyboard-arrow-left">
                    <symbol id="icon-keyboard-arrow-left" viewBox="0 0 1024 1024">
                        <title>keyboard-arrow-left</title>
                        <path class="path1" d="M657.707 696.96l-195.627-195.627 195.627-195.627-60.373-60.373-256 256 256 256z"></path>
                    </symbol>
                    <use xlink:href="#icon-keyboard-arrow-left"></use>
                </svg>
            </a>
            ADD ITEM
        </div>

        <div class="coin_main">
            <a class='back-button' href="wire3.html">
                <div class="breadcrumb">
                    <svg class="icon icon-play-arrow-rev">
                        <symbol id="icon-play-arrow" viewBox="0 0 1024 1024">
                            <title>play-arrow</title>
                            <path class="path1" d="M682.667 213.333v597.333l-469.333-298.667z"></path>
                        </symbol>
                        <use xlink:href="#icon-play-arrow"></use>
                    </svg>
                    Add Item
                </div>
            </a>
            <section class="coin_image">
                <div class="img_box">
                    <input type="file" id ="file_upload"  accept="image/*" onchange="loadFile(event)"style="visibility:hidden"; >
                    <label id="btn-logo" onclick="triggerFunction()"><i class="fa fa-plus fa-2x"></i></label>
                    <img id="output" width = "150px" height="150px"/>
                </div>
                <label class="coin_image-required">Image Required</label>
            </section>

            <section class="coin_detail">
                <table>
                    <tr>
                        <td>Metal</td>
                        <td>
                            <select id= "metal">
                                <option value="Gold">Gold</option>
                                <option value="Silver">Silver</option>
                                <option value="Platinum">Platinum</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Type</td>
                        <td>
                            <select id="item">
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Purchase Date</td>
                        <td>
                            <input class="light coin-field" type="text" size = "12" id="datepicker" required>
                        </td>
                    </tr>
                    <tr>
                        <td>Qty.</td>
                        <td>
                            <input name="qty" class="light" type = "number" id="qty" value="1" min = "0"required>
                        </td>
                    </tr>
                    <tr>
                        <td>Premium</td>
                        <td>
                            <input name="premium"  class="light" type = "number" id="premium" value="47.00"min = "0" required>
                        </td>
                    </tr>
                    <tr>
                        <td>Market Price</td>
                        <td id="price" >0</td>
                    </tr>
                    <tr>
                        <td>Gold %</td>
                        <td id="percent">0</td>
                    </tr>
                    <tr>
                        <td>Weight/unit (g)</td>
                        <td id="weight">0</td>
                    </tr>
                    <tr>
                        <td>Gold ozt/u</td>
                        <td id="goldo">0</td>
                    </tr>
                    <tr>
                        <td>Total au (ozt)</td>
                        <td id="totala">0</td>
                    </tr>
                    <tr>
                        <td><strong>TOTAL</strong></td>
                        <td><strong id="total">0</strong></td>
                    </tr>
                    <tr>
                        <td><strong>w/ Premium</strong></td>
                        <td><strong id="totalPremium">0</strong></td>
                    </tr>
                </table>

                <span type="submit" id="save">Save to my Stack</span>
                <a class="back-button" href="wire3.html"><span id="cancel" class=" ci-button large">Cancel</span></a>
            </section>
        </div>
    </section>

</section>
</section>
<script>
loadFooter();

</script>

<!-- Add this just before your closing </body> tag -->
<!-- Replace 'APP_ID' with your app ID -->
<script>
  window.intercomSettings = { app_id: 's4x71x8w' };
</script>
<!-- Replace 'APP_ID' with your app ID -->
<script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/s4x71x8w';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>

</body>

</html>
