<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="bullion management site, rare coins, gold, silver, platinum">
    <meta name="author" content="CSE134B Dream Team">
    <link rel="stylesheet" type="text/css" href="../style/style.css">
    <meta name=viewport content="width=device-width, initial-scale=.8, minimum-scale = .8, user-scalable=yes">
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <script src="../js/jquery-1.11.2.min.js"></script>
    <script src="../js/velocity.min.js"></script>
    <script src="../js/main.js"></script>
    <title>Gold Item - CoinBucket</title>
</head>

<body>
    <script>
    loadTopNav();
    </script>
    <script>
    loadSideNav(1);
    </script>
    <section class="main-section">
        <section class="coin_wrapper">
            <div class="mobile-nav">
                <a href="wire3.html">
                    <svg class="icon icon-keyboard-arrow-left">
                        <symbol id="icon-keyboard-arrow-left" viewBox="0 0 1024 1024">
                            <title>keyboard-arrow-left</title>
                            <path class="path1" d="M657.707 696.96l-195.627-195.627 195.627-195.627-60.373-60.373-256 256 256 256z"></path>
                        </symbol>
                        <use xlink:href="#icon-keyboard-arrow-left"></use>
                    </svg>
                </a>
                ITEM DETAIL
            </div>
            <div class="coin_main">
                <a href="wire3.html">
                    <div class="breadcrumb">
                        <svg class="icon icon-play-arrow-rev">
                            <symbol id="icon-play-arrow" viewBox="0 0 1024 1024">
                                <title>play-arrow</title>
                                <path class="path1" d="M682.667 213.333v597.333l-469.333-298.667z"></path>
                            </symbol>
                            <use xlink:href="#icon-play-arrow"></use>
                        </svg>
                        Item Detail
                    </div>
                </a>
                <section class="coin_image">
                    <div class="img_box">
                        <div class="img_circle"></div>
                    </div>
                </section>
                <section class="coin_detail">
                    <table>
                        <tr>
                            <td>Metal</td>
                            <td>Gold</td>
                        </tr>
                        <tr>
                            <td>Type</td>
                            <td>US Eagle</td>
                        </tr>
                        <tr>
                            <td>Purchase Date</td>
                            <td>04 March 2015</td>
                        </tr>
                        <tr>
                            <td>Qty.</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>Premium</td>
                            <td>47.00</td>
                        </tr>
                        <tr>
                            <td>Unit Price</td>
                            <td>1250.60</td>
                        </tr>
                        <tr>
                            <td>Gold %</td>
                            <td>0.999</td>
                        </tr>
                        <tr>
                            <td>Weight/unit (g)</td>
                            <td>1.244</td>
                        </tr>
                        <tr>
                            <td>Gold g/u</td>
                            <td>1.244</td>
                        </tr>
                        <tr>
                            <td>Gold ozt/u</td>
                            <td>0.0400</td>
                        </tr>
                        <tr>
                            <td>Total au (ozt)</td>
                            <td>0.0400</td>
                        </tr>
                        <tr>
                            <td><strong>TOTAL</strong></td>
                            <td><strong>1199.10</strong></td>
                        </tr>
                    </table>
                </section>
            </div>
        </section>
    </section>
    <script >

    function appendRow(id, data) {
        var tr = document.createElement("tr");
        var td = document.createElement("td");
        var imageNode = document.createElement("img");

        tr.id = data.objectId; // Add objectId to row for lookup
        tr.setAttribute('updatedat', data.updatedAt); // Add timestamp to row for lookup

        imageNode.src = data.image.url;
        imageNode.className = 'coin-img';

        td.appendChild(imageNode);
        tr.appendChild(td);
        delete data.image;

        var tmpArr = [data.item, data.quantity, data.weight, data.percent, data.value];
        tmpArr.forEach(function(val, key) {
            var textNode = document.createTextNode(val);
            var td = document.createElement("td");

            td.appendChild(textNode);
            tr.appendChild(td);
        });

        document.getElementById(id).appendChild(tr);
    }

    function getData(cb) {
        var appId = "iFY8hb8r6Ue1Qh98NBCP1tWshhexxQS1tOsRTk0W";
        var apiKey = "xPKaGBUFnH5vhMN8W77wuuGFoeesi4zbl0H2bLL1";

        var req = new XMLHttpRequest();

        // Request Handler
        req.onreadystatechange = function(oEvent) {
            if (req.readyState === 4) {
                if (req.status === 200) { // Handle Success and Failure
                    // Parse the string into a JSON obj
                    var tmpObj = JSON.parse(req.responseText);
                    console.log(tmpObj.results);
                    cb(tmpObj.results);
                } else {

                    console.log("Error: ", req.statusText); // Error Message
                }
            }
        };

        // Open the request with the Url Encoded String for login
        req.open("GET", "https://api.parse.com/1/classes/coin", true);

        // Set Request Header for Parse
        req.setRequestHeader("X-Parse-Application-Id", appId);
        req.setRequestHeader("X-Parse-REST-API-Key", apiKey);
        req.send(); // Finally send the request
    }

    // Timestamp table look up only refresh certain row
    // Loop through table, check timestamp of each row,
    // if it's changed replace the element, if not continue,
    // if the element does not exist, append
    window.onload = function() {
        getData(function(data) {
            console.log(data);
            data.forEach(function(val, key) {

                appendRow('table-data', val);
            });
        });

        document.getElementById('refresh-btn').addEventListener('click', function() {
            // Get data
            getData(function(data) {
                data.forEach(function(val, key) {
                    var row = document.getElementById(val.objectId);
                    if (row) {
                        if (val.updatedAt == row.getAttribute("updatedat")) {
                            alert(val.objectId + ' hasn\'t changed!');
                        } else {
                            alert(val.objectId + ' has changed! ');
                        }
                    } else {
                        //appendRow('table-data', val);
                    }

                });
            });
        });
    }
    loadFooter();
    </script>
</body>

</html>
